body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
      background-color: white;
      font-family:Arial, sans-serif;
  }
  
  .datetime p {
      padding-top: 6px;
      padding-left: 25px;
      background-color: rgba(3, 52, 109, 0);
      border-radius: 5px;
      width: 150px;
      height: 30px;
  }
  .container {
    font-size: 10px;
    text-align: center;
    margin-top: 100px;
  }
  .channel-link {
      font-weight: bold;
    padding: 10px 20px 20px;
    font-size: 20px;
    background-color: #0088cc;
    color: #fff;
    height: 40px;
    width: auto;
    text-decoration: none;
    border-radius: 5px;
    z-index:auto;
  }

#bcbr {
  cursor: pointer;
    font-weight: bold;
  font-size: 10px;
  color: white;
}

.datetime {
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 150px;
  }
